#exportPattern("^[[:alpha:]]+")
export("nimo")
importFrom("grDevices", "gray.colors", "rainbow")
importFrom("graphics", "points")
importFrom("methods", "show")
importFrom("stats", "complete.cases")
importFrom("utils", "URLencode", "read.csv", "write.csv")

#flexsdm
importFrom(flexsdm, calib_area)
importFrom(flexsdm, correct_colinvar)
importFrom(flexsdm, data_pdp)
importFrom(flexsdm, data_psp)
importFrom(flexsdm, env_outliers)
importFrom(flexsdm, esm_gam)
importFrom(flexsdm, esm_gau)
importFrom(flexsdm, esm_gbm)
importFrom(flexsdm, esm_glm)
importFrom(flexsdm, esm_max)
importFrom(flexsdm, esm_net)
importFrom(flexsdm, esm_svm)
importFrom(flexsdm, extra_eval)
importFrom(flexsdm, extra_truncate)
importFrom(flexsdm, fit_ensemble)
importFrom(flexsdm, fit_gam)
importFrom(flexsdm, fit_gau)
importFrom(flexsdm, fit_gbm)
importFrom(flexsdm, fit_glm)
importFrom(flexsdm, fit_max)
importFrom(flexsdm, fit_net)
importFrom(flexsdm, fit_raf)
importFrom(flexsdm, fit_svm)
importFrom(flexsdm, get_block)
importFrom(flexsdm, homogenize_na)
importFrom(flexsdm, interp)
importFrom(flexsdm, msdm_posteriori)
importFrom(flexsdm, msdm_priori)
importFrom(flexsdm, occfilt_env)
importFrom(flexsdm, occfilt_geo)
importFrom(flexsdm, part_random)
importFrom(flexsdm, part_sband)
importFrom(flexsdm, part_sblock)
importFrom(flexsdm, part_senv)
importFrom(flexsdm, plot_res)
importFrom(flexsdm, sample_background)
importFrom(flexsdm, sample_pseudoabs)
importFrom(flexsdm, sdm_directory)
importFrom(flexsdm, sdm_eval)
importFrom(flexsdm, sdm_extract)
importFrom(flexsdm, sdm_predict)
importFrom(flexsdm, sdm_summarize)

#
importFrom(shiny, shinyOptions)
importFrom(shiny, shinyApp)
importFrom(shiny, modalDialog)
importFrom(shiny, tagList)
importFrom(shiny, actionButton)
importFrom(shiny, icon)
importFrom(shiny, modalButton)
importFrom(shiny, fluidRow)
importFrom(shiny, column)
importFrom(shiny, checkboxInput)
importFrom(shiny, selectInput)
importFrom(shiny, verbatimTextOutput)
importFrom(shiny, showModal)
importFrom(shiny, reactive)
importFrom(shiny, eventReactive)
importFrom(shiny, renderText)
importFrom(shiny, req)
importFrom(shiny, strong)
importFrom(shiny, h2)
importFrom(shiny, shinyOptions)
importFrom(shiny, shinyOptions)
importFrom(shiny, shinyOptions)
importFrom(shiny, shinyOptions)
importFrom(shiny, br)
importFrom(shiny, hr)
importFrom(shiny, conditionalPanel)
importFrom(shiny, numericInput)
importFrom(shiny, renderPrint)
importFrom(shiny, renderPlot)
importFrom(shiny, tabsetPanel)
importFrom(shiny, tabPanel)
importFrom(shiny, plotOutput)
importFrom(shiny, observe)
importFrom(shiny, updateNumericInput)
importFrom(shiny, reactiveValues)
importFrom(shiny, eventReactive)
importFrom(shiny, updateSelectInput )
importFrom(shiny, updateTextInput)
importFrom(shiny, observe)
#shinyjs
importFrom(shinyjs, hide)
importFrom(shinyjs, show)
importFrom(shinyjs, disable)
#shinyFiles
importFrom(shinyFiles, shinySaveButton)
importFrom(shinyFiles, shinyFileChoose)
importFrom(shinyFiles, parseFilePaths)
importFrom(shinyFiles, shinySaveButton)
importFrom(shinyFiles, shinySaveButton)
importFrom(shinyFiles, shinySaveButton)
# shinydashboard
importFrom(shinydashboard, dropdownMenuOutput)
importFrom(shinydashboard, dropdownMenu)
importFrom(shinydashboard, sidebarMenu)
importFrom(shinydashboard, menuItem)
importFrom(shinydashboard, menuSubItem)
importFrom(shinydashboard, dashboardBody)
importFrom(shinydashboard, tabItems)
importFrom(shinydashboard, tabItem)
#shinydashboardPlus
importFrom(shinydashboardPlus, dashboardHeader)
importFrom(shinydashboardPlus, boxDropdownItem)
importFrom(shinydashboardPlus, dashboardSidebar)
importFrom(shinydashboardPlus, dashboardPage)

#
#dplyr
importFrom(dplyr, "%>%")
importFrom(dplyr, sym)
importFrom(dplyr, case_when)
importFrom(dplyr, rename)
importFrom(dplyr, mutate)
importFrom(dplyr, relocate)
importFrom(dplyr, bind_rows)
importFrom(dplyr, relocate)
#ggplot2
importFrom(ggplot2, ggplot)
importFrom(ggplot2, aes_string)
importFrom(ggplot2, geom_point)
importFrom(ggplot2, labs)
importFrom(ggplot2, aes)
importFrom(ggplot2, geom_sf)
importFrom(ggplot2, theme_void)
#plotly
importFrom(plotly, ggplotly)
importFrom(plotly, renderPlotly)
#DT
importFrom(DT, DTOutput)
#sf
importFrom(sf, read_sf)
importFrom(sf, st_as_sf)
importFrom(sf, st_transform)
#leaflet
importFrom(leaflet, renderLeaflet)
importFrom(leaflet, setView)
importFrom(leaflet, addProviderTiles)
importFrom(leaflet, addTiles)
importFrom(leaflet, addMiniMap)
importFrom(leaflet, addMeasure)
importFrom(leaflet, leafletProxy)
#leaflet.extras
importFrom(leaflet.extras, addDrawToolbar)
#jsonlite
importFrom(jsonlite, fromJSON)
#httr
importFrom(httr, content)
importFrom(httr, GET)
