/*** FONTS SET ***/
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('fonts/Montserrat-Regular.ttf') format('truetype');
}

/*** HEADER ***/
.skin-blue .main-header .navbar {
    background-color: #042d0f;
}

.skin-blue .main-header .logo {
    background-color: #042d0f;
}

.skin-blue .left-side, .skin-blue .main-sidebar, .skin-blue .wrapper {
    background-color: #042d0f;
}


.fit_model_btn_icon {
  color: green;
}

/* When hovering toggle button */
.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: #042d0f;
}
/****TITLES FONT ****/
h1 {
    font-family: 'Montserrat-Bold',sans-serif;
    text-align: center;
}
h3 {
    font-family: 'Montserrat-Bold',sans-serif;
    text-align: center;
}

h5 {
    font-family: 'Montserrat-Regular',sans-serif;
    font-size: 2rem;
    text-align: center;
}

p{
  font-family: 'Montserrat-Regular' sans-serif;
}

body {
  font-family: 'Montserrat-Regular', sans-serif;
  color: #292929
  height:100%
}


/*** SIDE BAR ****/
.skin-blue .sidebar-menu>li.active>a {
    border-left-color: #cceed4;
    border-left-width: 5px;
}

.skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li.menu-open>a, .skin-blue .sidebar-menu>li:hover>a {
    color: #fff;
    background: rgba(0,0,0,0);
}

.skin-blue .main-header .logo:hover {
    background-color: rgba(0,0,0,0);
}

.skin-blue .sidebar a {
  font-family: "Montserrat-Bold", sans-serif;
}
/****SHINY FILE***/
.sF-title {
    font-family: 'Montserrat-Bold' , sans-serif;
}
.btn-primary {
    background-color: #065325;
    border-color: #065325;
}
.btn-primary:hover {
    background-color: #042d0f;
    border-color: #042d0f;
}
/**TABLE BODY**/
.dataTables_scrollBody{
  height: 50vh;
}

/****** LEAFLET ****/
.leaflet-container.leaflet-touch-drag.leaflet-touch-zoom {
    height: 100vh;
}

/*** GBIF ****/
.modal-body {
    padding: 05vh;
}
/* connection status error*/
pre {
    background-color: #f5f5f500;
}
