.fit_model_btn_icon {
  color: green;
}

@font-face {
  font-family: 'Montserrat';
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
}

p{
  font-family: "Montserrat", sans-serif;
  color: red;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #292929
  height:100%
}

.skin-blue .sidebar a {
  font-family: "Montserrat", sans-serif;
}

.leaflet-container.leaflet-touch-drag.leaflet-touch-zoom {
    height: 100vh;
}

/**TABLE BODY**/
.dataTables_scrollBody{
  height: 50vh;
}
